	<div id="messages">
		<%= render @messages %>
</div>

<form>

  <input type="text" id="user" placeholder="Username">
    <br />
	<input type="text" id ="say" data-behavior="room_speaker" placeholder="Say Something">

</form>