<h1>Chat Room</h1>

	<div id="messages">
		<%= render @messages %>
</div>

<form>

  <label>Name:</label>
  <input type="text" id="user">
    <br />
	<label>Say Something</label>
	<input type="text" data-behavior="room_speaker" placeholder="Say Something">

</form>